.noColumnBorder .sapMListTblCell {

    border-top: 0px  !important;
    border-bottom: 0px !important;
    
    }

    .sortingAvailable::after {          
        content: '\20\2195' ;         
    }

    .sortingAvailable {          
        font-size: 13px !important;   
    }

    .smallText {
        font-size: 13px !important;
    }